[submodule "frontend"]
	path = frontend
	url = https://github.com/StefanoDPCarraro/MatrizCurricular-Frontend
[submodule "backend"]
	path = backend
	url = https://github.com/StefanoDPCarraro/MatrizCurricular-Backend
